.footable {
  width: 100% ;
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial ;
  font-size: 14px ;
  color: #444 ;
 
  border: solid #ccc 1px ;
  border-collapse: separate ;
  border-spacing: 0 ;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
  border-left: 1px solid #ccc ;
  border-top: 1px solid #ccc ;
  padding: 10px ;
  text-align: left;
  .Aa {
     min-width: 10px;
     width: 20px;
     max-width: 20px;
}

.Bb {
     min-width: 40px;
     width: 45px;
     max-width: 45px;
} 

}
 
.footable > thead > tr > th, .footable > thead > tr > td {
  background-color: #dce9f9 ;
}

.footable {
  -moz-border-radius: 6px ;
  -webkit-border-radius: 6px ;
  border-radius: 6px ;
}


.footable > thead > tr > th {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9)) ;
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9) ;
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9) ;
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9) ;
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9) ;
  background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9) ;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset ;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset ;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset ;
  border-top: none ;
  text-shadow: 0 1px 0 rgba(255,255,255,.5) ;
}

.footable > tbody > tr:hover {
  background: #c8ddf7 ;
}